<div fxLayout="row" fxLayoutAlign="center center" class="page-title-header">
  <i class="fa fa-fitbit fa-4x" aria-hidden="true"></i>
</div>

<div class="main-content-page" fxLayout="row" fxLayoutAlign="center center" *ngIf="loading; else content">
  <mat-spinner></mat-spinner>
</div>

<ng-template #content>
  <div class="main-content-page"  *ngIf="!user || !user.identities || !user.identities.fitbit; else fitbitData">
    <h2>No Linked Account</h2>
    <p>By linking your Fitbit account, you agree that {{appName}} will be able to read basic information
      of your profile.</p>
    <button mat-raised-button (click)="associate()" color="primary">Link Account</button>
  </div>

  <ng-template #fitbitData>
    <div ngClass.gt-sm="main-content-page">
      <h1 fxHide.lt-sm fxHide.sm>Fitbit Account</h1>

      <div class="fitbit-actions-div" fxLayout fxLayoutAlign="center center" fxLayoutAlign.gt-sm="end center">
        <div fxFlex fxFlex.gt-sm="80" fxLayout fxLayout.lt-md="column">
          <mat-slide-toggle fxFlex [(ngModel)]="shareProfile" (change)="updateShareProfile()">Share Profile</mat-slide-toggle>
        </div>
        <span fxFlex.gt-sm="5"></span>
        <button fxFlex="90" fxFlex.gt-sm="25" mat-raised-button color="warn" (click)="deleteAccount()">Delete Account</button>
      </div>

      <mat-card class="fitbit-card">
        <mat-card-title>Profile Data</mat-card-title>
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="dataName">
            <mat-header-cell *cdkHeaderCellDef> Data </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dataName | uppercase }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="dataValue">
            <mat-header-cell *cdkHeaderCellDef> Value </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dataValue }} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <br>
        <button mat-raised-button color="primary" (click)="updateProfile(true)">
          <mat-icon aria-label="get_data">cached</mat-icon>
          Update Profile
        </button>
      </mat-card>


      <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutWrap>

        <!-- activity
        <mat-card fxFlex="50" fxFlex.lt-md="100" fxLayoutAlign="center center" class="fitbit-card"
                  *ngIf="loadingActivity; else activityCard">
          <mat-spinner></mat-spinner>
        </mat-card>
        <ng-template #activityCard>
          <mat-card fxFlex="50" fxFlex.lt-md="100" class="fitbit-card">
            <div *ngIf="activities.length > 0; else noActivity">
              <mat-card-title>Your last Activity</mat-card-title>
              <div class="activity-like-div" *ngFor="let activity of activities">
                <p *ngIf="post.story">ActivityID: {{ activity.activityId }}</p>
                <p *ngIf="post.text">Calories: {{ activity.calories }} </p>
                <p *ngIf="post.text">Description: {{ activity.description }} </p>
                <p *ngIf="post.text">Distance: {{ activity.distance }} </p>
                <p *ngIf="post.text">Duration: {{ activity.duration }} </p>
                <p *ngIf="post.text">Start time: {{ activity.startTime }} </p>
                <p *ngIf="post.text">Steps: {{ activity.steps }} </p>
                <mat-divider></mat-divider>
              </div>
              <button mat-raised-button color="primary" (click)="updateActivity(true)">
                <mat-icon aria-label="get_data">cached</mat-icon>
                Update Activity
              </button>
            </div>
            <ng-template #noActivity>
              <mat-card-title>No Activity Acquired</mat-card-title>
              <mat-card-content>
                In this section will be shown your activity.
              </mat-card-content>
              <button mat-raised-button color="primary" (click)="updateActivity(true)">
                <mat-icon aria-label="get_data">get_app</mat-icon>
                Get Activity
              </button>
            </ng-template>
          </mat-card>
        </ng-template> -->

        <!-- body & weight
        <mat-card fxFlex="50" fxFlex.lt-md="100" fxLayoutAlign="center center" class="fitbit-card"
                  *ngIf="loadingBody_Weight; else bodyCard">
          <mat-spinner></mat-spinner>
        </mat-card>
        <ng-template #bodyCard>
          <mat-card fxFlex="50" fxFlex.lt-md="100" class="fitbit-card">
            <div *ngIf="body.length > 0; else noBody">
              <mat-card-title>Your last Fats & Weights</mat-card-title>
              <div class="post-like-div" *ngFor="let body of body">
                <p *ngIf="body.fat">Story: {{ body.fat }}</p>
                <mat-divider></mat-divider>
              </div>
              <button mat-raised-button color="primary" (click)="updateBody_Weight(null, true)">
                <mat-icon aria-label="get_data">cached</mat-icon>
                Update Body & Weights
              </button>
            </div>
            <ng-template #noBody>
              <mat-card-title>No Body & Weight Acquired</mat-card-title>
              <mat-card-content>
                In this section will be shown your body data.
              </mat-card-content>
              <button mat-raised-button color="primary" (click)="updateBody_Weight(null, true)">
                <mat-icon aria-label="get_data">get_app</mat-icon>
                Get Body & Weight
              </button>
            </ng-template>
          </mat-card>
        </ng-template> -->


        <!-- food
        <mat-card fxFlex="50" fxFlex.lt-md="100" fxLayoutAlign="center center" class="fitbit-card"
                  *ngIf="loadingFood; else foodCard">
          <mat-spinner></mat-spinner>
        </mat-card>
        <ng-template #foodCard>
          <mat-card fxFlex="50" fxFlex.lt-md="100" class="fitbit-card">
            <div *ngIf="foods.length > 0; else noFood">
              <mat-card-title>Your last favorite Foods</mat-card-title>
              <div class="activity-like-div" *ngFor="let foods of foods">
                <p *ngIf="post.text">BMI: {{ foods.name }} </p>
                <p *ngIf="post.text">Date: {{ foods.calories }} </p>
                <mat-divider></mat-divider>
              </div>
              <button mat-raised-button color="primary" (click)="updateFood(true)">
                <mat-icon aria-label="get_data">cached</mat-icon>
                Update Foods
              </button>
            </div>
            <ng-template #noFood>
              <mat-card-title>No Foods Acquired</mat-card-title>
              <mat-card-content>
                In this section will be shown your Foods.
              </mat-card-content>
              <button mat-raised-button color="primary" (click)="updateFood(true)">
                <mat-icon aria-label="get_data">get_app</mat-icon>
                Get Foods
              </button>
            </ng-template>
          </mat-card>
        </ng-template> -->

        <!-- friends-->
        <mat-card fxFlex="48" fxFlex.lt-md="100" fxLayoutAlign="center center" class="fitbit-card"
                  *ngIf="loadingFriends; else friendsCard">
          <mat-spinner></mat-spinner>
        </mat-card>
        <ng-template #friendsCard>
          <mat-card fxFlex="48" fxFlex.lt-md="100" class="fitbit-card">
            <div *ngIf="friends.length > 0; else noFriends">
              <mat-card-title>Your Friends</mat-card-title>
              <div class="post-like-div" *ngFor="let friend of friends">
                <p *ngIf="friend.username">USERNAME: {{ friend.username }}</p>
                <mat-divider></mat-divider>
              </div>
              <div *ngIf="friends.length == 10">
                <p>Other friends not shown.</p>
              </div>
              <button mat-raised-button color="primary" (click)="updateFriends(null, true)">
                <mat-icon aria-label="get_data">cached</mat-icon>
                Update Friends
              </button>
            </div>
            <ng-template #noFriends>
              <mat-card-title>No Friends Acquired</mat-card-title>
              <mat-card-content>
                In this section will be shown your Fitbit friends.
              </mat-card-content>
              <button mat-raised-button color="primary" (click)="updateFriends(null, true)">
                <mat-icon aria-label="get_data">get_app</mat-icon>
                Get Friends
              </button>
            </ng-template>
          </mat-card>
        </ng-template>



        <!-- heart rate
        <mat-card fxFlex="50" fxFlex.lt-md="100" fxLayoutAlign="center center" class="fitbit-card"
                  *ngIf="loadingHeartRate; else heartCard">
          <mat-spinner></mat-spinner>
        </mat-card>
        <ng-template #heartCard>
          <mat-card fxFlex="50" fxFlex.lt-md="100" class="fitbit-card">
            <div *ngIf="activities_heart.length > 0; else noHeart">
              <mat-card-title>Your Heart Rate</mat-card-title>
              <div class="activity-like-div" *ngFor="let heart of activities-heart">
                <p *ngIf="post.text">BMI: {{ heart.dateTime }} </p>
                <mat-divider></mat-divider>
              </div>
              <button mat-raised-button color="primary" (click)="updateHeartRate(true)">
                <mat-icon aria-label="get_data">cached</mat-icon>
                Update Heart Rate
              </button>
            </div>
            <ng-template #noHeart>
              <mat-card-title>No Heart Acquired</mat-card-title>
              <mat-card-content>
                In this section will be shown your Heart Rate.
              </mat-card-content>
              <button mat-raised-button color="primary" (click)="updateHeartRate(true)">
                <mat-icon aria-label="get_data">get_app</mat-icon>
                Get Heart Rate
              </button>
            </ng-template>
          </mat-card>
        </ng-template> -->


        <!-- sleep-->
        <mat-card fxFlex="48" fxFlex.lt-md="100" fxLayoutAlign="center center" class="fitbit-card"
                  *ngIf="loadingSleep; else sleepCard">
          <mat-spinner></mat-spinner>
        </mat-card>
        <ng-template #sleepCard>
          <mat-card fxFlex="48" fxFlex.lt-md="100" class="fitbit-card">
            <div *ngIf="sleep.length > 0; else noSleep">
              <mat-card-title>Your Sleep</mat-card-title>
              <div class="post-like-div" *ngFor="let sleeps of sleep">
                <p *ngIf="sleeps.startTime">START TIME: {{ sleeps.startTime }}</p>
                <p *ngIf="sleeps.duration">DURATION: {{ sleeps.duration }}</p>
                <p *ngIf="sleeps.efficiency">EFFICIENTY: {{ sleeps.efficiency }}</p>
                <p *ngIf="sleeps.minutesAfterWakeup">MINUTES AFTER WAKEUP: {{ sleeps.minutesAfterWakeup }}</p>
                <p *ngIf="sleeps.minutesAsleep">MINUTES A SLEEP: {{ sleeps.minutesAsleep }}</p>
                <p *ngIf="sleeps.minutesAwake">MINUTES AWAKE: {{ sleeps.minutesAwake }}</p>
                <p *ngIf="sleeps.minutesToFallAsleep">MINUTES TO FALL A SLEEP: {{ sleeps.minutesToFallAsleep }}</p>
                <p *ngIf="sleeps.timeInBed">TIME IN BED: {{ sleeps.timeInBed }}</p>
                <mat-divider></mat-divider>
              </div>
              <div *ngIf="sleep.length == 10">
                <p>Other sleeps not shown.</p>
              </div>
              <button mat-raised-button color="primary" (click)="updateSleep(null, true)">
                <mat-icon aria-label="get_data">cached</mat-icon>
                Update Sleep
              </button>
            </div>
            <ng-template #noSleep>
              <mat-card-title>No Sleep Acquired</mat-card-title>
              <mat-card-content>
                In this section will be shown your sleep.
              </mat-card-content>
              <button mat-raised-button color="primary" (click)="updateSleep(null, true)">
                <mat-icon aria-label="get_data">get_app</mat-icon>
                Get Sleep
              </button>
            </ng-template>
          </mat-card>
        </ng-template>



        </div>
      </div>
  </ng-template>

</ng-template>
