@import "../../../styles.scss";

.identities-sidenav-container {
  position: relative;
  width: 100%;
  height: calc(100vh - #{$navbar-height});
  z-index: 1;
}

.identities-sidenav-content {
  display: flex;
}

.identities-sidenav {
  display: flex;
  width: 232px;
  padding: 16px;
}

.identities-sidenav-small {
  width: 56px;
  padding: 2px;
}

.header-text-title {
  font-size: 24px;
}

.identities-content {
  margin-top: 50px;
}

.identities-card {
  margin-bottom: 16px;
  height: 236px;
}

.user-image {
  border-radius: 50%;
  width: 70%;
  background-color: rgba(74, 74, 74, 0.50);
  margin: 24px;
}

.identities-user-image {
  border-radius: 70%;
  width: 100px;
  margin-bottom: 32px;
  margin-right: 32px;
  margin-top: 32px;
}

.user-image-div {
  text-align: center;
}

.spacer {
  margin-left: 32px;
}
